<h2>Cadastro de candidato</h2>
<form>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input ng-model="model.nome" ng-model="model.nome" type="text" class="form-control" id="nome" placeholder="Nome">
            </div>
            <div class="form-group">
                <label for="nascimento">Data de nascimento:</label>
                <input ng-model="model.dataNascimento" type="text" class="form-control" id="nascimento" placeholder="Data de Nascimento">
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input ng-model="model.email" type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="telefone-residencial">Telefone residêncial:</label>
                <input ng-model="model.telefoneResidencial" type="text" class="form-control" id="telefone-residencial" placeholder="Telefone residêncial">
            </div>
            <div class="form-group">
                <label for="telefone-celular">Telefone celular:</label>
                <input ng-model="model.telefoneCelular" type="text" class="form-control" id="telefone-celular" placeholder="Telefone celular">
            </div>
            <div class="form-group">
                <label for="sexo">Sexo:</label>
                <input ng-model="model.sexo" type="text" class="form-control" id="sexo" placeholder="Sexo">
            </div>
            <div class="form-group">
                <label>Tipo de deficiência:</label>
                <div class="checkbox">
                    <label><input ng-model="model.tipoDeficiencia.fisica" type="checkbox">Física</label>
                </div>
                <div class="checkbox">
                    <label><input ng-model="model.tipoDeficiencia.auditiva" type="checkbox">Auditiva</label>
                </div>
                <div class="checkbox">
                    <label><input ng-model="model.tipoDeficiencia.visual" type="checkbox">Visual</label>
                </div>
                <div class="checkbox">
                    <label><input ng-model="model.tipoDeficiencia.mental" type="checkbox">Mental</label>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="detalhes-deficiencia">Detalhes da deficiência:</label>
                <textarea ng-model="model.detalhesDeficiencia" class="form-control" placeholder="Detalhes da deficiência" rows="4" cols="50"></textarea>
            </div>
            <div class="form-group">
                <label for="endereco">Endereço completo:</label>
                <input ng-model="model.endereco" type="text" class="form-control" id="endereco" placeholder="Endereço completo">
            </div>
            <div class="form-group">
                <label for="cidade">Cidade/UF:</label>
                <input ng-model="model.cidade" type="text" class="form-control" id="cidade" placeholder="Cidade/UF">
            </div>
            <div class="form-group">
                <label for="cep">Cep:</label>
                <input ng-model="model.cep" type="text" class="form-control" id="cep" placeholder="Cep">
            </div>
            <div class="form-group">
                <label for="curriculo">Mini currículo:</label>
                <textarea ng-model="model.detalhesCurriculo" class="form-control" placeholder="Mini currículo" rows="4" cols="50"></textarea>
            </div>
            <div class="form-group">
                <label for="atuacao">Área de atuação desejável:</label>
                <input ng-model="model.areaAtuacao" type="text" class="form-control" id="atuacao" placeholder="Área de atuação desejável">
            </div>
        </div>
    </div>
    <button ng-click="sendForm()" class="btn btn-default">Enviar</button>
</form>